/* Agregamos el scroll behavior smooth  */
/* scroll padding top para cuando el user presiona en el link, tambien tome en cuenta la altura del navbar y no nos tape parte de la section */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
    /* el alto del header 65px */
}

/* header */

/* efecto de glassmorphismo cuando abrimos menu hamburguesa y carrito */
/* basicamente , el concepto principal de esta tendencia es poner un fondo semi transparente que añade un difumado al fondo del div en el que se aplique */

.overlay {
    position: absolute;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;  
    /* el zindex 1 es para que quede por encima de los elementos*/

    /* efecto glasssmorphismo */
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    /* el backdrop desenfoca el fondo para que el usuario se concentre en el carrito */
    -webkit-backdrop-filter: blur(5px);
    display: none;
}

/* toggle para el overlay (para que funcione unicamente cuando abrimos el carrito o menu hamburguesa */

#cart-toggle:checked ~ .overlay {
    display: block;
} 

#menu-toggle:checked ~ .overlay {
    display: block;
}

/* hover de los elementos a del navbar */

.navbar-list li {
    position: relative;
    padding: 0;
}

.navbar-list li a::after {
    content: "";
    height: 2px;
    width: 100%;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease;
}

.navbar-list li a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

/* Carrito */
/* aplicar una animacion en hover */

.cart-icon {
    transition: all 0.2s ease-out;
}

.cart-icon:hover {
    color: aquamarine;
    border-color: aquamarine;
    transition: all 0.2s ease-in;
}



/* botones del carrito */

.quantity-handler {
    transition: all 0.2s ease-in;
}

.quantity-handler:hover {
    cursor: pointer;
    background-color: aquamarine;
    transition: all 0.2s ease-in;
}

/* be nucber */

.btn-add,
.hero-info a {
    transition: all 0.2s ease-out;
}

.btn-add:hover ,
.hero-info a:hover {
    background-color: rgb(11, 121, 168);
    transition: all 0.2s ease-in;
}

.btn-load {
    transition: all 0.2s ease-out;
    font-weight: 600;
}

.btn-load:hover {
    background-color: aquamarine;
    color: white;
    transition: all 0.2s ease-in;
}

/* animaciones */
/* vamos a hacer animaciones de entrada a los elementos del hero */

/* animacion fade */
/* funcionamiento : pasar de opacidad 0 a 1  */

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* animacion slide hacia arriba */
/* funcionamiento: hacemos llegar al elemento animado desde abajo */
@keyframes slide-up {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}

/* Animacion q provocara un slide a la derecha */
@keyframes slide-right {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0);
    }
}

/* animacion al h1 */

.hero-info h1 {
    /* animacion - duracion - animation-duration */
    animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
}

.hero-info p {
    opacity: 0;
    /* animacion - duracion - animation-duration -  forwards (para que el elemento quede fijo al final) */
    animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out;
    animation-delay: 0.3s;
}

/* animacion al boton */
.hero-info a {
    opacity: 0;
    animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out;
    animation-delay: 0.4s;
}

/* Animacion typing */
/* Para la barrita de escritura (efecto titilar) */
@keyframes blink {
    to {
        background: transparent;
        opacity: 0;
    }
    
}

/* para que vaya entrando el texto */
@keyframes typewriter {
    to {
        left: 100%;
    }
}

/* le agregamos al span de la palabra Crypto un position para acomodar el before y el after, ademas le ponemos los mismos estilos que el h1 correspondientes al color de la letra para que los tome*/
.hero-info h1 span {
    position: relative;
    background: linear-gradient(to top, #30cfd0, #c43ad6);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

/* Creamos y posicionamos el before y el after. Recordar que sin la propiedad content no funciona */
.hero-info h1 span::before,
.hero-info h1 span::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Esto es para que las letras vayan apareciendo de a poco. los steps tienen que coincidir con la cantidad de letras de la palabra en cuestion (crypto) en este caso */
.hero-info h1 span::before {
    background-color: rgb(15, 15, 15);
    /* animacion - duracion - delay - animation-function - forwars - para que quede fijo al final */
    animation: typewriter 1.2s 1.4s steps(6) forwards;
}

/* Esto es para la barrita de escritura y que lo mismo se vaya moviendo junto con las letras que aparecen */
.hero-info h1 span::after {
    width: 0.1rem;
    background: linear-gradient(to top, #30cfd0, #c43ad6);
    animation: typewriter 1.2s 1.4s steps(6) forwards, blink 0.8s steps(6) infinite;
}